/*.preloader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 2;
    transition: 1s all;
    opacity: 1;
    visibility: visible;
}
.loader{
    width: 75px;
    height: 75px;
    border: 10px solid white;
    border-radius: 50%;
    border-top-color: blue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: 1s spin infinite linear;
}
&.done {
    opacity: 0;
    visibility: hidden;
}
@keyframes spin{
    form{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    
    }
}*/

.preloader{
    --bg-color: #32314c;
    --size: 200px;
    --first-color: #ff7473;
    --second-color: #ffc952;
    --third-color: #47b8e0;
    --thicknss: 3px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--duration);
}
.preloader__content{
    position: relative;
    width: var(--size);
    height: var(--size);
   
}
.preloader__first,
.preloader__seccond,
.preloader__third{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: var (--duration) linear infinite;
}
.preloader__first{
    border-bottom: var(--thickness) solid var(--first-color);
    animation-name: first;
    
}
.preloader__second{
     border-right: var(--thickness) solid var(--second-color);
    animation-name: second;
}
.preloader__third{
     border: var(--thickness) solid var(--third-color);
    animation-name: third;
}
@keyframes first{
    0% { transform: rotateX(35deg) rotateY(-45deg) rotate(0deg);}
    100% {transform: rotate(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
@keyframes second{
    0% { transform: rotateX(50deg) rotateY(10deg) rotate(0deg);}
    100% {transform: rotate(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
@keyframes first{
    0% { transform: rotateX(35deg) rotateY(55deg) rotate(0deg);}
    100% {transform: rotate(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
body {

    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #4a5661;
    position: fixed;
}

.logo {
    color: white;
    font-size: 30px;
    line-height: 60px;
    padding-left: 310px;
    float: left;
    -webkit-animation: com ing 2s ease;
    -o-animation: coming 2s ease;
    animation: coming 2s ease;
    font-family: 'Open Sans', sans-serif;

}

main {
    width: 100%;
    height: 100%;
}

.menu {
    float: left;
    padding-left: 350px;
}

.menu li {
    float: left;
    line-height: 60px;
    text-transform: uppercase;
    margin-right: 40px;
    font-size: 16px;
    -webkit-animation: topchik 0.4s ease forwards;
    -o-animation: topchik 0.4s ease forwards;
    animation: topchik 0.4s ease forwards;
    opacity: 0;

}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/pick.png) 90% 80%/ auto 85% no-repeat, url(../img/inf.jpg) center/cover no-repeat;
    background-image: url(../img/pick.png), url(../img/inf.jpg);

    background-attachment: fixed;

}

.title__container {
    margin: 432px 0px 0px 404px;
    float: left;
    text-align: center;
    -webkit-animation: title 1s ease forwards;
    -o-animation: title 1s ease forwards;
    animation: title 1s ease forwards;
    -webkit-animation-delay: 3.1s;
    -o-animation-delay: 3.1s;
    animation-delay: 3.1s;
    opacity: 0;
}

.title__container h1 {
    font-size: 35px;
    font-weight: bold;
}

.title__container h4 {
    margin-top: 60px;
    font-size: 19px;
    color: #9d9ea3;

}

.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #7f8188;
    background: none;
    border-radius: 5px;
    color: #7f8188;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 0px;
}

.title__container input: {
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover {
    background: #1dc8d7;
    color: white;
}

.title__container input:active {
    transform: scale(1.1);
}

.menu li a {
    transition: all 0.5s;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: #1a8fc6;

}

.menu li a:active {
    transform: scale(1.1);
}

@keyframes coming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes title {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 404px;
    }
}

@keyframes topchik {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 1s;
}

.menu li:nth-child(4) {
    animation-delay: 1.6s;
}

.menu li:nth-child(5) {
    animation-delay: 2.2s;
}

.menu li:nth-child(6) {
    animation-delay: 2.8s;
}

.menu li:nth-child(7) {
    animation-delay: 3.2s;
}

.obo__mne input: {
    transition: all 0.2s;
    transform: scale(1);
}

.obo__mne input:hover {
    background: #f5f8f8;
    color: #95a6f7;
}

.obo__mne input:active {
    transform: scale(1.1);
}

.obo__mne {
    height: 550px;
    margin: 100px 50px 50px 130px;
}

.obo__mne h2 {
    padding-left: 750px;
    text-transform: uppercase;
    color: black;
    font-size: 24px;
}

.obo__mne img {
    margin: 80px 700px;
    width: 220px;
    height: 220px;
    display: inline - block;
    border-radius: 50%;
}

.obo__mne p {
    padding-left: 505px;
}

.obo__mne input {
    margin: 30px 760px;
    border: 2px solid #7f8188;
    background: none;
    border-radius: 5px;
    color: #7f8188;
    font-size: 19px;
    transition: all 0.4s;
    transform: scale(1);

}

.chto__umey {
    width: 100%;
    height: 600px;
    background: url(../img/kartinkafon.png) center/cover no-repeat;
}

.chto__umey h2 {
    line-height: 135px;
    margin: 60px 0px 70px 872px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.GG1 img:active {
    transform: scale(1.3);
}

.GG2 img:active {
    transform: scale(1.3);
}

.GG3 img:active {
    transform: scale(1.3);
}

.GG4 img:active {
    transform: scale(1.3);
}

.GG1 img:hover {

    transition: all 0.6s;
    transform: scale(2);
}

.GG2 img:hover {
    transition: all 0.6s;
    transform: scale(2);
}

.GG3 img:hover {
    transition: all 0.6s;
    transform: scale(2);
}

.GG4 img:hover {
    transition: all 0.6s;
    transform: scale(2);
}

.chto__umey b {
    line-height: 60px;
    color: orange;
    font-size: 17px;

}

.keysi p {
    text-align: center;
}

.klient a {
    color: #0c0cad;
}

.keysi p {
    text-align: center;
}

.keysi h2 {

    margin: 30px 0px 40px 900px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;

}

.keysi img {
    margin: 50px 0px 0px 130px;
}

.GG1 {
    float: left;
    width: 460px;
    text-align: center;


}

.GG2 {
    float: left;
    width: 460px;
    text-align: center;
}

.GG3 {
    float: left;
    width: 460px;
    text-align: center;
}

.GG4 {
    float: left;
    width: 450px;
    text-align: center;
}

.klient b {
    font-size: 23px;
    font-weight: bold;
    color: #659895;
    line-height: 39px;

}

.klient {

    padding-left: 600px;
    float: left;
    margin-right: 140px;
}

.klient a {
    border: 1px solid #7f8188;
    background: none;
    border-radius: 5px;
    color: #7f8188;
    font-size: 15px;
    padding: 3px 40px;
    background: #57b2ab;
}

.klient a:visited {
    color: white;
}

.klient a:hover {
    color: #000a09;

}

.klient a:active {
    transform: scale(2);
}

.proekt b {
    font-size: 17px;
    font-weight: bold;
    color: #659895;
    line-height: 30px;
}

.chek h2 {
    margin: 120px 0px 30px 890px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.chek select {
    padding-right: 700px;
    margin: 0px 0px 0px 600px;
    height: 40px;
    border: 2px solid #7f8188;
    background: #f0f0f0;
    color: #7f8188;
}

.chek h3 {
    margin: 20px 0px 10px 600px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.dizain h3 {
    margin: 20px 0px 10px 600px;
    font-size: 18px;
    font-weight: bold;
    color: black;

}

.dizain select {
    padding-right: 700px;
    margin: 0px 0px 0px 600px;
    height: 40px;
    border: 2px solid #7f8188;
    background: #f0f0f0;
    color: #7f8188;
}

.adptivnost h3 {
    margin: 20px 0px 10px 600px;
    font-size: 18px;
    font-weight: bold;
    color: black;

}

.adptivnost select {
    padding-right: 700px;
    margin: 0px 0px 0px 600px;
    height: 40px;
    border: 2px solid #7f8188;
    background: #f0f0f0;
    color: #7f8188;
}

.srock {
    margin: 20px 0px 10px 600px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    line-height: 25px;
}

.main__fad {
    margin-top: 50px;
    width: 100%;
    height: 600px;
    background: url(../img/infot.png) center/cover no-repeat;
    background-image: url(../img/infot.png);
    background-attachment: fixed;


}

.main__fad h2 {

    margin: 60px 0px 70px 790px;
    font-size: 22px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    line-height: 160px;
}

.main120 img:hover {
    display: inline-block;
    animation: rubberBand;
    animation-duration: 1s;
}

.main120 {
    float: left;
    width: 470px;
    text-align: center;
}

.main4543 img:hover {
    display: inline-block;
    animation: jello;
    animation-duration: 1s;
}

.main4543 {
    float: left;
    width: 470px;
    text-align: center;
}

.main443 img:hover {
    display: inline-block;
    animation: rubberBand;
    animation-duration: 1s;
}

.main443 {
    float: left;
    width: 470px;
    text-align: center;
}

.main32 img:hover {
    display: inline-block;
    animation: jello;
    animation-duration: 1s;
}

.main32 {
    float: left;
    width: 470px;
    text-align: center;

}

.main__fad b {
    line-height: 60px;
    color: black;
    font-size: 19px;
}

.otzblv h2 {
    margin: 60px 0px 0px 10px;
    font-size: 22px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.otzblv img {
    margin: 80px 840px;
    width: 220px;
    height: 220px;
    display: inline - block;
    border-radius: 50%;
}

.otzblv p {
    padding-left: 10px;
    text-align: center;
}

.otzblv {
    text-align: center;

}

.otzblv input:hover {

    transition: all 0.6s;
    transform: scale(1.2);

}

.kontakt {
    padding-left: 10px;
    text-align: center;
    line-height: 60px;
    margin: 0px 0px 40px 0px;
    color: white;

}

.kontakt h2 {
    height: 80px;
    font-size: 27px;
    font-weight: bold;
    margin: 160px 0px 0px 10px;
    color: black;
    color: white;
}

.nevs {
    float: left;
    width: 630px;
    text-align: center;
    color: white;
}

.info {
    float: left;
    width: 630px;
    text-align: center;
    color: white;
}

.nomer {
    float: left;
    width: 630px;
    text-align: center;
    color: white;
}

.sms {
    text-align: center;

}

.sms h3 {
    margin: 290px 0px 50px 10px;
    font-size: 22px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    color: white;
}

.naw input {
    height: 30px;
    text-align: center;
    border: 2px solid white;
    background: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 0px 16px;
    margin: 10px 14px 0px 14px;
    transition: all 0.4s;
    transform: scale(1);



}

.naw input: {
    transition: all 0.2s;
    transform: scale(1);
}

.naw input:hover {
    background: #739bdd;
}

.naw input:active {
    transform: scale(1.1);
}



.MOI {
    width: 100%;
    height: 900px;
    background: url(../img/onfor.png) center/cover no-repeat;
}

.mapa {
    margin: 125px 0px 0px 0px;

}

.mapa h4 {
    width: 100%;
    height: 60px;
    background: #4a5661;
    color: white;
    display: inline-block;
    line-height: 55px;


}

.imy input {

    height: 25px;
    width: 356.5px;

}
