ul{
    margin: 50px;
    font-size: 18px;
    width: 30px;
}    
li{
    margin-bottom: 30px;
}
li::after{
    content: "";
}
li::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    margin-right: 10px;
}
li::before{
    display: block;
    width: 100%;
    height: 1px;
    background: none;
}
ПСЕВДО КЛАСС И ПСЕВДО ЭЛЕМЕНТ. ТО ЕСТЬ В ЛИ БУДУТ РАБОАТЬ ПРАВИЛА.
li:hover::before{
    background-color: red;
}

.preloader{
    size: 200px;
    --bg-color: #32314c;
    --first-color: #ff7473;
    --second-color: #ffc952;
    --third-color: #47b8e0;
    --thicknss: 3px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader__content{
    position: relative;
    width: var(--size);
    height: var(--size);
    border: 1px solid red;
}
.preloader__first,
.preloader__seccond,
.preloader__third{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
preloader__first{
    border: var(--thickness) solid var(--first-color);
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    
}
preloader__second{
     border: var(--thickness) solid var(--second-color);
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
}
.preloader__third{
     border: var(--thickness) solid var(--third-color);
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
}